.forecast {
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    color: white;
    text-decoration: underline;
    font-size: 40px;
    border-radius: 15%;
    flex-wrap: wrap;
    margin: 100px;
}

.results {
    justify-content: center;
    border: solid black 3px;
    border-radius: 15%;
    background-color: #000000d0;
    color: white;
    padding: 30px;
}

.location {
    justify-content: center;
    color: gray;
    text-decoration: underline;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.temp {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 40px;
    border-radius: 15%;
}

.additionalWeather {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    border-radius: 15%;
    justify-content: center;
    padding-right: 20px;
}

.flex-additional-weather {
    display: flex;
    justify-content: center;
    flex-direction: row;
}